.neos.neos-module.neos-module-management-themeCssVariables {

	h2 {
		margin-bottom: 1rem;
	}

	legend {
		padding: 0;
		margin: 0;
		width: auto;
	}

	[class*='ColorPicker'] {
		color: #555555;

		input,
		[class*='ColorPicker'] input:focus {
			border-width: 1px;
			border-color: #777777;
			background-color: transparent;
			color: #555555;
			padding: inherit;
		}
	}
	.theme-cssvariables {
		&__form-header {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			background: black;
			padding: 1rem;
			margin: 1rem 0;

			.neos-buttons {
				margin-left: auto;

				.neos-button {
					margin-left: 1rem;
				}
			}
		}

		&__help {
			flex-basis: 100%;
			font-size: small;
			padding: 1rem 0;

			i {
				color: #00b5ff;

				&.fa-exclamation-triangle {
					color: rgba(255, 135, 0);
				}
			}

		}

		&__variables--type {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
			grid-gap: 1px;
			margin: 1rem 0;

			> * {
				display: grid;
				padding: 1rem;
				gap: 1rem;
				grid-template-columns: 1fr 1fr;
				background: #000000;

				> * {
					max-width: 100%;
				}

				label {
					font-weight: bold;
				}

				strong, i {
					font-size: .675rem;
				}
			}
		}

		&__variable--active {
			background: rgba(0, 157, 255, 0.12);
		}

		.react__placeholder--color-picker {
			display: flex;
			align-items: center;

			> * {
				margin-left: .5rem;
			}

			.color-picker {
				&__original, &__new {
					width: 1rem;
					height: 1rem;
					border-radius: 50%;
					display: block;
					box-shadow: 0 0 5px white;
				}

				&__new {
					border: 1px solid #0d95e8;
				}
			}
		}
	}

	.tabs {
		margin-top: 1rem;
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

		> label {
			grid-row: 1;
			padding: 10px 20px;
			flex: 1;
			text-align: center;
			cursor: pointer;
			transition: background-color 0.3s;
		}

		.tab-content {
			grid-row: 2;
			grid-column: 1 / -1;
			display: none;
			border-top: none;
		}

		input[type="radio"] {
			display: none;
			visibility: hidden;
		}

		input[type="radio"]:checked + label {
			font-weight: bold;
			background-color: #0d95e8;
			border-bottom: 1px solid #fff;
		}

		input[type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
		input[type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
		input[type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
		input[type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
		input[type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
		input[type="radio"]:nth-of-type(6):checked ~ .tab-content:nth-of-type(6) {
			display: block;
		}
	}
}
