{namespace neos=Neos\Neos\ViewHelpers}
<div class="neos-content neos-container-fluid theme-cssvariables" xmlns="http://www.w3.org/1999/html">
	<h1>{header}</h1>
	<div class="tabs">
		<f:for each="{sites}" as="site" iteration="iterator">
			<input type="radio" id="tab-{site}" name="tabs" {iterator.index ? "" : "checked"}>
			<label class="tab" for="tab-{site}">{site.name}</label>
		</f:for>

		<f:for each="{sites}" as="site">
			<div class="tab-content">
				<f:form action="save" class="theme-cssvariables__form" name="variables-{site}" method="post">
					<f:form.hidden name="site" value="{site.nodeName}"/>
					<div class="theme-cssvariables__form-header">
						<legend>Theme Variables // {site}</legend>
						<div class="neos-buttons">
							<f:if condition="{result.{site}.cssfile.name} == {settings.stylesheetName} ">
								<f:link.action action="restore" arguments="{site: site}" class="neos-button neos-button-warning"
															 title="Restore original values">
									Restore
								</f:link.action>
							</f:if>
							<f:if condition="{result.{site}.cssfile}">
								<f:form.submit value="Save" class="neos-button neos-button-primary"/>
							</f:if>
						</div>
						<div class="theme-cssvariables__help">
							<f:if condition="{result.{site}.error}">
								<f:then>
									<p><i class="fas fa-exclamation-triangle"></i> {result.error}</p>
								</f:then>
								<f:else>
									<p><i class="fas fa-info"></i> Below you find the active variables in your site. If you have made
										changes to
										the original values, a restore option will show up next to the save button.</p>
								</f:else>
							</f:if>
						</div>
					</div>

					<f:if condition="{result.{site}.cssfile}">
						<div class="theme-cssvariables__variables">
							<f:groupedFor each="{result.{site}.cssfile.variables}" as="variablesByType" groupBy="type"
														groupKey="type">
								<f:for each="{settings.types}" as="allowedType">
									<f:if condition="{allowedType} == {type}">
										<h2>{type -> f:format.case(mode:'capital')} variables</h2>
										<div class="theme-cssvariables__variables--type">
											<f:for each="{variablesByType}" as="variable">
												<div class="theme-cssvariables__variable">
													<f:if condition="{settings.stylesheetName} == {variable.fileName}">
														<f:then><f:form.hidden name="default[{site}][{variable.name}]"/></f:then>
														<f:else><f:form.hidden name="default[{site}][{variable.name}]" value="{variable.value}"/></f:else>
													</f:if>
													<label for="{site}{variable.name}">{variable.simple_name -> f:format.case(mode:'capital')}<br/><code style="font-size: x-small;">{variable.name}</code></label>
													<f:if condition="{variable.type} == 'color'">
														<f:then>
															<f:form.hidden id="{site}{variable.name}" name="variables[{site}][{variable.name}]"
																						 value="{variable.value}"/>
															<div class="react__placeholder--color-picker" data-color="{variable.value}"
																	 data-target="#{site}{variable.name}"></div>
														</f:then>
														<f:else>
															<f:form.textfield id="{site}{variable.name}" name="variables[{site}][{variable.name}]"
																								value="{variable.value}"/>
														</f:else>
													</f:if>
													<strong>{variable.packageKey}</strong><i>{variable.fileName}</i>
												</div>
											</f:for>
										</div>
									</f:if>
								</f:for>
							</f:groupedFor>
						</div>
					</f:if>
				</f:form>
			</div>

		</f:for>
	</div>

</div>
