/*!***************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Resources/Private/Styles/module.scss ***!
  \***************************************************************************************************************************************************************************************/
.neos.neos-module.neos-module-management-themeCssVariables h2 {
  margin-bottom: 1rem;
}
.neos.neos-module.neos-module-management-themeCssVariables legend {
  padding: 0;
  margin: 0;
  width: auto;
}
.neos.neos-module.neos-module-management-themeCssVariables [class*=ColorPicker] {
  color: #555555;
}
.neos.neos-module.neos-module-management-themeCssVariables [class*=ColorPicker] input,
.neos.neos-module.neos-module-management-themeCssVariables [class*=ColorPicker] [class*=ColorPicker] input:focus {
  border-width: 1px;
  border-color: #777777;
  background-color: transparent;
  color: #555555;
  padding: inherit;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__form-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 1rem;
  margin: 1rem 0;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__form-header .neos-buttons {
  margin-left: auto;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__form-header .neos-buttons .neos-button {
  margin-left: 1rem;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__help {
  flex-basis: 100%;
  font-size: small;
  padding: 1rem 0;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__help i {
  color: #00b5ff;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__help i.fa-exclamation-triangle {
  color: #ff8700;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__variables--type {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1px;
  margin: 1rem 0;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__variables--type > * {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  background: #000000;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__variables--type > * label {
  font-weight: bold;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__variables--type > * strong, .neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables__variables--type > * i {
  font-size: 0.675rem;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables .react__placeholder--color-picker {
  display: flex;
  align-items: center;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables .react__placeholder--color-picker > * {
  margin-left: 0.5rem;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables .react__placeholder--color-picker .color-picker__original, .neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables .react__placeholder--color-picker .color-picker__new {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: block;
  box-shadow: 0 0 5px white;
}
.neos.neos-module.neos-module-management-themeCssVariables .theme-cssvariables .react__placeholder--color-picker .color-picker__new {
  border: 1px solid #0d95e8;
}
